@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

$color-blossom: #3b22ea;
$color-fade: #DA4453;

$color-bg: #ffffff;
$color-bg-alt: #f7f7f7;

$color-text: rgba(0, 0, 0, 0.85);
$font-size-base: 1.8rem;
$font-family-base: "Overpass", sans-serif;
$font-family-heading: "Overpass", sans-serif;

@import "main";